In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
counted_cells = pd.DataFrame({
    "Location": ["Top Left", "Top Right", "Bottom Left", "Bottom Right", "Average", "Experiemnt"],
    "First Count": [29, 46, 49, 39, np.mean([29, 46, 49, 39]), "Gene Function Analysis(exp3, day1)"],
    "Second Count": [35, 26, 21, 24, np.mean([35, 26, 21, 24]), "Freezing Cells(exp2, day5)"],
    "Third Count": [42, 22, 20, 24, np.mean([42,22, 20, 24]), "Gene Function Analysis(exp3, wt, day6)"],
    "Fourth Count": [36, 19, 21, 24, np.mean([36, 19, 21, 24]), "Gene Function Analysis(exp3, dr5-ko, day6)"],
    "Fifth Count": [29, 46, 49, 39, np.mean([29, 46, 49, 39]), "-"],
    "Sixth Count": [35, 25, 25, 27, np.mean([35, 25, 25, 27]), "-"]
    
})
counted_cells

,Location,First Count,Second Count,Third Count,Fourth Count,Fifth Count,Sixth Count
0,Top Left,29,35,42,36,29,35
1,Top Right,46,26,22,19,46,25
2,Bottom Left,49,21,20,21,49,25
3,Bottom Right,39,24,24,24,39,27
4,Average,40.75,26.5,27.0,25.0,40.75,28.0
5,Experiemnt,"Gene Function Analysis(exp3, day1)","Freezing Cells(exp2, day5)","Gene Function Analysis(exp3, wt, day6)","Gene Function Analysis(exp3, dr5-ko, day6)",-,-

In [12]:
counted_cells.to_csv("counted-cells.csv", index=False)