In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
counted_cells = pd.DataFrame({
    "Location": ["Top Left", "Top Right", "Bottom Left", "Bottom Right", "Average", "Experiemnt"],
    "First Count": [31, 32, 31, 34, np.mean([31, 32, 31, 34]), "Experiment 4, day1"],
    "Second Count": [29, 46, 49, 39, np.mean([29, 46, 49, 39]), "Experiment 3, day1"],
    "Third Count": [24, 22, 30, 29, np.mean([24, 22, 30, 29]), "Experiment 5, day4"],
    "Tourth Count": [35, 26, 21, 24, np.mean([35, 26, 21, 24]), "Experiment 2, day5"],
    "Fifth Count": [42, 22, 20, 24, np.mean([42,22, 20, 24]), "Experiment 3, wt, day6"],
    "Fixth Count": [36, 19, 21, 24, np.mean([36, 19, 21, 24]), "Experiment 3, dr5-ko, day6"],
    "Seventh Count": [29, 46, 49, 39, np.mean([29, 46, 49, 39]), "-"],
    "Eighth Count": [35, 25, 25, 27, np.mean([35, 25, 25, 27]), "-"]
    
})
counted_cells

,Location,First Count,Second Count,Third Count,Tourth Count,Fifth Count,Fixth Count,Seventh Count,Eighth Count
0,Top Left,31,29,24,35,42,36,29,35
1,Top Right,32,46,22,26,22,19,46,25
2,Bottom Left,31,49,30,21,20,21,49,25
3,Bottom Right,34,39,29,24,24,24,39,27
4,Average,32.0,40.75,26.25,26.5,27.0,25.0,40.75,28.0
5,Experiemnt,"Experiment 4, day1","Experiment 3, day1","Experiment 5, day4","Experiment 2, day5","Experiment 3, wt, day6","Experiment 3, dr5-ko, day6",-,-

In [4]:
counted_cells.to_csv("counted-cells.csv", index=False)