In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
counted_cells = pd.DataFrame({
    "Location": ["Top Left", "Top Right", "Bottom Left", "Bottom Right", "Average"],
    "First Count": [35, 25, 25, 27, np.mean([35, 25, 25, 27])],
    "Second Count": [35, 26, 21, 24, np.mean([35, 26, 21, 24])],
    "Third Count": [42, 19, 21, 24, np.mean([42, 19, 21, 24])],
    "Fourth Count": [24, 22, 30, 29, np.mean([24, 22, 30, 29])],
    "Fifth Count": [29, 46, 49, 39, np.mean([29, 46, 49, 39])],
    
})
counted_cells

,Location,First Count,Second Count,Third Count,Fourth Count,Fifth Count
0,Top Left,35.0,35.0,42.0,24.00,29.00
1,Top Right,25.0,26.0,19.0,22.00,46.00
2,Bottom Left,25.0,21.0,21.0,30.00,49.00
3,Bottom Right,27.0,24.0,24.0,29.00,39.00
4,Average,28.0,26.5,26.5,26.25,40.75

In [14]:
counted_cells.to_csv("counted-cells.csv", index=False)